  <footer>
    <div class="row">
      <div class="large-12 columns">
        <p>This page uses data from open registers.</p>
        <ul class="accordion" data-accordion>
          <li class="registers">
            <a href="#registers">View the registers</a>
            <div id="registers" class="content">
             <ul>
                <li><a href="http://premises.openregister.org">premises register</a></li>
                <li><a href="http://products-of-animal-origin-premises.openregister.org">products of animal origin premises</a></li>
                <li><a href="http://products-of-animal-origin-section.openregister.org/">products of animal origin section</a></li>
                <li><a href="http://products-of-animal-origin-activity.openregister.org/">products of animal origin activity</a></li>
              <ul>
            </div>
          </li>
        </ul>
        <p><a href="#">Is there anything wrong with the data on this page?</a></p>
      </div>
    </div>
  </footer>
