{% block head %}
  {% raw %}
    <script id="premises-template" type="text/x-jsrender">
      <li><a href="/premises/{{:premisesId}}">{{:premisesName}}</a></li>
    </script>
  {% endraw %}
{% endblock %}

{% extends "base.html" %}
{% block content %}

  <header>
    <div class="row">
      <div class="large-6 columns">
        <h1>Find an approved premises</h1>
      </div>
      <div class="large-3 columns large-offset-3">
        <p class="download"><a href="#">Download all contents in the EU approved XML format</a></p>
      </div>
    </div>
  </header>

  <main id="content" role="main">
    <div class="row">

      <div id="search-filters">
        <div class="large-4 columns">
          <p>You can use the filters to show only results that match your interests</p>
          <fieldset class="filters">
            <label for="search">Search</label>
            <input id="search" type="text" />
            <label for="filter">Section type</label>
            <select id="filter">
              <option>Select from list</option>
              <option>Section 0</option>
              <option>Section I</option>
              <option>Section II</option>
              <option>Section III</option>
              <option>Section IV</option>
              <option>Section V</option>
              <option>Section VI</option>
              <option>Section VII</option>
              <option>Section VIII</option>
              <option>Section IX</option>
              <option>Section X</option>
              <option>Section XI</option>
              <option>Section XII</option>
              <option>Section XIII</option>
              <option>Section XV</option>
            </select>
          </fieldset>
        </div>
      </div>

      <div id="premises">
        <div class="large-8 columns">
          <div id="results">
            <p id="count"><span>{{ data.meta.total_entries }}</span> premises</p>
          </div>
          <div id="loading" style="display:none">
            <p>Loading results&hellip;</p>
          </div>

          <ul id="premises-list">
            {% for premises in data.entries %}
            <li><a href="/premises/{{premises.entry.premises}}">{{premises.entry.name}}</a></li>
            {% endfor %}
          </ul>

          <nav id="show-more-documents" role="navigation">
            <ul class="previous-next-navigation">
              <li class="next">
                <a id="pager" href="#">Next <span class="visuallyhidden">page</span> <span id="page-number">{{data.meta.page+1}}</span> of <span id="total-pages">{{data.meta.total_pages}}</span></a>
              </li>
            </ul>
          </nav>

        </div>
      </div>

    </div>
  </main>
  {% include "footer.html" %}
{% endblock %}
